body{
	margin: 0px;
	padding: 0;
	width: 100%;
}
h1{
	text-align: center;
	font-size: 30px;
	color: #3AE2B2;
	background-color: #FFDD00; 
	display: block;
	border: 14px outset #00CA00;
}
header{
	display: inline-block;
	width: 100%;
	height: auto;
}

.sub-menu {
	height: 0;
	opacity: 0;
	transition: all 0.5s ease-in;
}
main{
	display: inline-block;
	width: 100%;
	height: auto;
}

.menu_priority{
	float: left;
	display: inline-block;
	padding-right: 3%;
	width: 30%;
	height: 40px;
	text-align: center;
	list-style: none;
}
li{
	list-style: none;
}
